@import url(http://fonts.googleapis.com/css?family=PT+Sans);

@import "compass/reset";

$width: 960px;
$gutter: 24px;
$headingcolour: #4e7f29;
$bodycolour: #333;
$hovercolour: #ff3333;

body {
    color: $bodycolour;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    color: $headingcolour;
    
    &:hover {
        color: $hovercolour;
    }
}

p {
    margin: 0.2em 0 0.6em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: $headingcolour;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    margin: 1.4em 0 0 0;
}

h1 {
    font-size: 1em;
    margin: 0;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    color: $bodycolour;
    font-size: 1.1em;
}


div.content, div.footer {
    margin: 0 auto;
    width: $width;
}

div.header {
    background: url('../img/header.jpg') 50% 0% no-repeat #5b952e;
    height: 160px;
    min-width: $width;
    
    div.title {
        height: 140px;
        margin: 0 auto;
        padding: 15px 0 0 0;
        width: $width;
        
        h1 {
            color: #fff;
            font-size: 27px;
            height: 65px;
            line-height: 1.2;
            padding: 14px 0 0 0;
            position: absolute;
            margin: 0 0 0 $gutter;
            text-align: center;
            width: 330px;
            
            span {
                display: block;
                font-size: 18px;
            }
        }
        
        span.logo {
            background: url('../img/logo.jpg') 0 0 no-repeat;
            height: 79px;
            margin: 0 0 0 $gutter;
            position: absolute;
            width: 330px;
        }
    }
}

div.slogan {
    background: url('../img/header.jpg') 50% 100% no-repeat #e4eabe;
    border-bottom: 1px solid #ccc;
    height: 140px;
    min-width: $width;
    
    blockquote {
        color: $headingcolour;
        background: url('../img/blockquote.gif') 45px 32px no-repeat;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.2em;
        margin: 0 auto;
        padding: 30px 0 0 0;
        width: $width;
        
        span {
            display: block;
            margin: 0 $gutter * 2 0 $gutter * 5;
        }
    }
}

div.content {
    ul {
        margin: -0.6em 0 0.5em 0;
    }

    li {
        list-style: disc;
        margin: 0 0 0 2em;
    }
}

div.footer {
    border-top: 1px solid #ccc;
    clear: both;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    height: 6em;
    padding: 1.5em 0 0 0;
    
    ul {
        margin: 0 $gutter;
    }
    
    li {
        float: left;
        padding: 0 1.4em 0 0;
    }
    
    a {
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

div.grants, div.about {
    float: left;
    margin: 0 $gutter 0 $gutter;
    padding: 0 0 2em 0;
    width: $width/2 - ($gutter * 2) - 1;
}

div.grants {
    float: left;
}

div.about {
    float: right;
}

html.lt-ie7 {    
    div.grants, div.about {
        width: $width/2 - ($gutter * 2) - 25;
    }
}